<div class="header-container">

    <section>
        <h1>The Tech Spot</h1>

    </section>

    <section class="navbar-container">
        <nav>
        
            <ul>
                <li><a>Home</a></li>
                <li><a>Blogs</a></li>
                <li><a>About</a></li>
                <li><a>LogOut</a></li>



            </ul>


        </nav>
    </section>

</div>