<div>
    <h2>Current Blogs</h2>

    <section>
        {{#each blogs}}
            <article>
                <h3>{{this.title}}</h3>
                <p>{{this.content}}</p>
                <p>Author: {{this.author}}</p>
                <p>Date Created: {{this.date_created}}</p>


            </article>
        {{/each}}


    </section>
</div>