<div>
    <form id="login">
        <section>
            <label>Username:</label>
            <input type="text" name="username" id="username" required>
        </section>
        <section>
            <label>Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        
        </section>
    </form>

</div>

<div>
    <h2>Not a member?</h2>
    <label>Sign up <a href="/signup">here</a></label>
</div>

<script src="/js/login.js"></script>